<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

  <title>Bootstrap 5.0 Pricing Table</title>

  <style>

    .card1:hover {
      background:#68a3db;
      border:1px solid #68a3db;
    }

    .card1:hover .list-group-item{
      background:#68a3db !important
    }


    


    .card2:hover {
      background:#68a3db;
      border:1px solid #68a3db;
    }

    .card2:hover .list-group-item{
      background:#68a3db !important
    }


    .card3:hover {
      background:#68a3db;
      border:1px solid #68a3db;
    }

    .card3:hover .list-group-item{
      background:#68a3db !important
    }


    .card:hover .btn-outline-dark{
      color:white;
      background:#212529;
    }

  </style>

</head>

<h1>Memberships</h1>
<body>

  <div class="container-fluid">
    <div class="container p-5">
      <div class="row">
        <% @memberships.each do |membership| %>
        <div class="col-lg-4 col-md-12 mb-4">
          <div class="card card1 h-100">
            <div class="card-body">
             
              <h5 class="card-title"> <%= membership.name %> </h5>
              <small class='text-muted'>Individual</small>
              <br><br>
              <span class="h2"> $<%= membership.price / 100%></span>/month
              <br><br>
              <div class="d-grid my-3">
                <button class="btn btn-outline-dark btn-block"><%= button_to "Subscribe", checkout_create_path, params: {id: membership.id}, remote: true %></button>
              </div>
            </div>

            
          </div>
        </div>
        <% end %>  
      </div>
    </div>
    </div>
  </body>


  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>


</body>
</html>
