<h1>Rent a Bike</h1>
<br>

<div class="stationDropDown d-flex w-100 h-100 p-3 mx-auto flex-colum">
  <select class="rentDropDown form-select" id = "stationSelection" required>
      <option>Choose a Station</option>
      <option>Florence Bank Station</option>
      <option>Florence Center</option>
      <option>Jackson Street</option>
      <option>Cooley Dickinson Health Care</option>
      <option>State St/Mass Central Rail Trail</option>
      <option>Northampton High School</option>
      <option>Village Hill/State Hospital</option>
      <option>John M Greene Hall/Smith College</option>
      <option>Forbes Library</option>
      <option>Pulaski Park/Downtown</option>
      <option>Main Street/Court House</option>
      <option>Northampton Train Station</option>
      <option>Main Street/Bridge Street</option>
      <option>YMCA/Childs Park</option>
  </select>

</div>
<br>
<br>
<button type="button" class="btn btn-light" id="rentBtn"">Rent a Bike</button>
