<h1>About the team!<h1>
	<br/>
<body>


<style>
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
</style>

	<div class ="row">
		<div class = "column">
<div class="card" style="width: 18rem;">
<%= image_tag("AddieAbout.jpeg", width: "100%") %>
  <div class="card-body">
    <h5 class="card-title">Addie</h5>
    <p class="card-text"> <h6>Only one who sent in an actual profile picture for the About Us page. CTO. Not a computer science major. They call me a bike lover (BL). Hater of bike shorts, helmets, and cars. My biggest mistake was accidentally checking the password to the database into the public github repository. Our company has a 100% transparency policy, for everything including your data. Check out my branch, SCRUM master! </h6> </p>
    <a href="https://github.com/dorothyaddie" class="btn btn-primary">Github</a>
  </div>
</div>
</div>

<div class = "column">
	<div class="card" style="width: 18rem;">
<%= image_tag("IreneAbout.png", width: "100%") %>
  <div class="card-body">
    <h5 class="card-title">Irene</h5>
    <p class="card-text"> <h6>Summer intern at ValetBike. A lover of bikes and ride sharing platforms! Professional software engineer for 20 years and counting! Also not a computer science major. </h6> </p>
    <a href="https://github.com/dorothyaddie" class="btn btn-primary">Github</a>
  </div>
</div>
</div>

<div class = "column">
	<div class="card" style="width: 18rem;">
<%= image_tag("MadelaineAbout.png", width: "100%") %>
  <div class="card-body">
    <h5 class="card-title">Madeleine</h5>
    <p class="card-text"> <h6>As CFO, I love money. But not as much as I love providing a premium bikeshare experience! 
Biggest mistake: Fucking up credentials file ALL DAY EVERY DAY </h6> </p>
    <a href="https://github.com/dorothyaddie" class="btn btn-primary">Github</a>
  </div>
</div>
</div>

<div class = "column">
	<div class="card" style="width: 18rem;">
<%= image_tag("ZephyrAbout.JPG", width: "100%") %>
  <div class="card-body">
    <h5 class="card-title">Zephyr</h5>
    <p class="card-text"> <h6>I’m the CIO, responsible for the quality check. New to everything. I don’t really bike around but I'm open to all the users’ feedback. </h6> </p>
    <a href="https://github.com/dorothyaddie" class="btn btn-primary">Github</a>
  </div>
</div>
</div>

</div>


</body>
