<h1>About us<h1>
<body>
	<img src ="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5f/First_Church%2C_Main_Street%2C_Northampton%2C_2011.jpg/1600px-First_Church%2C_Main_Street%2C_Northampton%2C_2011.jpg" style="width:700px;height:500px;">
<h6>
This page is currently under maintainence. We miss you too! See you soon:)
</h6>
	</body>
