<h1>About the team!<h1>
<body>
<h3>Addie<h2>
<figure>
<%= image_tag("AddieAbout.jpeg", width: "25%") %>
</figure>
<h6>
Only one who sent in an actual profile picture for the About Us page. CTO. Not a computer science major. They call me a bike lover (BL). Hater of bike shorts, helmets, and cars. My biggest mistake was accidentally checking the password to the database into the public github repository. Our company has a 100% transparency policy, for everything including your data. Check out my branch, SCRUM master!  
</h6>
<h3>Irene<h3>
<figure>
<%= image_tag("IreneAbout.png", width: "25%") %>
</figure>
<h6>Summer intern at ValetBike. A lover of bikes and ride sharing platforms! Professional software engineer for 20 years and counting! Also not a computer science major. 
</h6>
<h3>Madeline<h3>
<figure>
<%= image_tag("MadelaineAbout.png", width: "25%") %>
</figure>
<h6>
As CFO, I love money. But not as much as I love providing a premium bikeshare experience! 
Biggest mistake: Fucking up credentials file ALL DAY EVERY DAY
</h6>
<h3>Zephyr<h3>
<figure>
<%= image_tag("ZephyrAbout.JPG", width: "25%") %>
</figure>
<h6>
I’m the CIO, responsible for the quality check. New to everything. I don’t really bike around but I'm open to all the users’ feedback. 
</h6>

</body>
