<style>
 .view img {
   display: block;
   position: relative;
   min-height:100%;
   height:100%;
   min-width:100%;
   margin:0 -100%;
 }
	
</style>
<br/>
<div class="jumbotron jumbotron-fluid bg-light ">
  <div class="container">
    <h1 class="display-4">Welcome to Valet Bike</h1>
    <p class="lead">If you are asking yourself, "How do I ride a bike?", we have an answer for you!</p>
  </div>
</div>


<div class="jumbotron jumbotron-fluid bg-white">
  <div class="container">
   <div style="text-align: center;">
  	<%= image_tag("homepage_graphics (1).jpg", width: "60%") %>
  </div>
    
    <p class="lead"><p>First, take a look at our map to make sure you are in the Pioneer Valet. </p>
<p>Next, make an account and confirm your email! </p>
<p>Next, look at the map again to pick a station to get your bike from! </p>
<p>Next, make sure a bike is available! </p>
<p>Then, check out the bike and pay for a membership! You could get a bike if we really had bikes, but we don't. </p> </p>
  </div>
</div>