
<!-- <h1>Welcome to Valet Bike</h1>
<h2> If you are asking yourself, "How do I ride a bike?", we have an answer for you!</h2>
<%= image_tag("homepage_graphics (1).jpg", width: "100%") %>


<div class="jumbotron jumbotron-fluid bg-white">
  <div class="container">
   <div style="text-align: center;">
  	<%= image_tag("homepage_graphics (1).jpg", width: "60%") %>
  </div>

    <p class="lead"><p>First, take a look at our map to make sure you are in the Pioneer Valet. </p>
<p>Next, make an account and confirm your email! </p>
<p>Next, look at the map again to pick a station to get your bike from! </p>
<p>Next, make sure a bike is available! </p>
<p>Then, check out the bike and pay for a membership! You could geta bike if we really had bikes, but we don't. </p> -->


<div class="home-container d-flex w-100 h-100 p-3 mx-auto flex-colum">

  <main class="px-3">
    <h1 class = "h1">Welcome to ValetBike</h1>
    <h3 class = "h3"> If you are asking yourself, "How do I ride a bike?", we have an answer for you!</h3>
    <%= image_tag("homepage_graphics (1).jpg", width: "100%", :class => "homepage-pic") %>
    <p class="lead line1">First, take a look at our map to make sure you are in the Pioneer Valet. </p>
    <p class="lead">Next, make an account and confirm your email! </p>
    <p class="lead">Next, look at the map again to pick a station to get your bike from! </p>
    <p class="lead">Next, make sure a bike is available! </p>
    <p class="lead">Then, check out the bike and pay for a membership! You could get a bike if we really had bikes, but we don't. </p>
  </main>

  <footer class="mt-auto text-white-50">
    <p>Cover template for <a href="https://getbootstrap.com/" class="text-white">Bootstrap</a>, by <a href="https://twitter.com/mdo" class="text-white">@mdo</a>.</p>
  </footer>
</div>
