<h1>Map</h1>

<div class="flexbox vertical stretch">
  <% if @stations.present? %>
    <%= render(partial: "stations/row", collection: @stations, as: :station) %>
  <% else %>
  <div class="empty">
    No stations found.
  </div>
  <% end %>
</div>

  <div class="map-box">
    <%# Sets map div %>
    <div id="map"></div>
    <% Station.all.each do |s| %>
      L.marker(<%= raw [s.latitude, s.longitude].to_json %>).addTo(map);
    <% end %>
    <%# Have to call js file with all leaflet functions after html div %>
    <%= javascript_include_tag('leaflet.js') %>
  </div>
